* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(10, 41, 101);
}

h1 {
    color: white;
    margin: 32px 0 24px 0;
}

.box, form {
    gap: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

input {
    width: 400px;
    height: 44px;
    border-radius: 24px;
    padding: 16px;
}

button {
    width: 400px;
    height: 44px;
    background-color: rgb(224, 47, 47);
    border: none;
    border-radius: 24px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    margin-top: 24px;
    cursor: pointer;
    
}

button:hover {
    background-color: rgb(169, 13, 13);
}

